{% load static %}
<header class="py-10">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <nav class="relative z-50 flex justify-between">
            <div class="flex items-center md:gap-x-12">
                <a aria-label="Home" href="/">
                    <img class="w-[200px]" src="{% static 'quera.svg' %}" alt="">
                </a>
            </div>
            <div class="flex items-center gap-x-5 md:gap-x-8">
                <a class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-blue-600 text-white hover:text-slate-100 hover:bg-blue-500 active:bg-blue-800 active:text-blue-100 focus-visible:outline-blue-600"
                    href="http://quera.org"><span> همین‌حالا شروع کنید </span></a>
                <div class="-mr-1 md:hidden"></div>
            </div>
        </nav>
    </div>
</header>